*{
    background-color: black;
}
h1{
    color: white;
}
button{
    color:red
}
.aprobado{
    color: green;
}
.desaprobado{
    color: red;
}

ul{
    li{
        list-style:  none;
        color: white;
        padding-top: 10px;
    }
}