<h1>ESTADO DE ALUMNOS</h1>


<button (click)="mostrarLista = !mostrarLista" >Mostrar Lista</button>

  <ul *ngIf="mostrarLista" >
   
    <li *ngFor="let alumno of alumnos" >
      {{alumno.nombre |  uppercase }}: Su promedio es de  {{alumno.nota}}, su estado es 
       <p [ngClass]="alumno.estado ? 'aprobado' : 'desaprobado'" 
       
       [ngStyle]="{
        'font-weight': alumno.estado ? 700 :400
       }">
        {{alumno.estado  ? 'APROBADO' : 'DESAPROBADO' }}
      </p>
        
    </li>
    </ul> 
